/* #html#html#html#html#html#html#html#html {
  background-color: aquamarine;
}
.html {
  background-color: chocolate;
}
li {
  color: red;
}
li {
  color: pink;
}
li {
  background-color: blueviolet;
}
  */