body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.parent {
  padding: 10px;
  /* border: 4px solid indianred; */
  height:50vh;
 /* height: 400px; */
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center; 
  /* justify-content: center; */
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  flex-direction: column;

  /* height:50vh; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  /* justify-content: baseline; */ 
    
}

.parent span {
  /* border: 4px solid cadetblue; */
  background-color: cadetblue;
  /* flex-shrink: 0; */
  /* width: 300px; */
  /* height: 300px; */
  /* flex-grow: 1; */
}

.parent p {
  /* border: 4px solid darkkhaki; */ 
  background-color: darkkhaki;
  /* margin: 0; */
  /* width: 400px ; */
  /* flex-shrink:0; */
  /* width:600px; */
  /* width: max-content; */
  /* flex-grow:1; */
}

.parent a {
  /* border: 4px solid yellowgreen; */
  background-color: yellowgreen;
  width:400px;
  height: 300px;
  /* flex-shrink: 0; */
  /* flex-grow:1; */
}
